.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.projects {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    font-family: 'NoonnuBasicGothicRegular';
    
}

.projects div {
    width: 30%; 
    margin-bottom: 20px; 
    text-align: center; 
    font-family: 'NoonnuBasicGothicRegular';
    
}

.put_img {
    max-width: 100%; 
    height: auto; 
    cursor: pointer; 
}

.head {
    margin-bottom: 20px;
    border-bottom: 1px solid #A1A1A3; 
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    color: white;
    
}

div1 {
    flex: 1; 
    padding: 20px; 
    
    border-right:1px solid #A1A1A3;
    font-family: 'NoonnuBasicGothicRegular';
    color: white;
}

div2 {
    flex: 2; 
    padding: 20px; 
    
    font-family: 'NoonnuBasicGothicRegular';
    color: white;
}

body {
    background-color: #1C1C1C;
}

h1 {
    
}

p {
    text-align: left;
}

.project_title {
    margin-bottom: 90px;
}

.project_name {
    text-align: center;
    text-size-adjust: 20px;
}

@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
